<a href="https://colab.research.google.com/github/Daesun97/programers/blob/master/%EC%98%81%EC%96%B4%EA%B0%80_%EC%8B%AB%EC%96%B4%EC%9A%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#enumerate 함수 사용
def solution(numbers):
    n = ['zero', "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    for index,num in enumerate(n):
        numbers = numbers.replace(num,str(index))
    return int(numbers)

#딕셔너리 사용
def solution(numbers):
    n = {'zero' : 0, "one":1, "two":2, "three":3, "four":4, "five":5, "six" : 6, "seven":7, "eight":8, "nine":9}
    for i,j in n.items():
        numbers = numbers.replace(i,str(j))
    return int(numbers)

In [4]:
solution("onetwothreefourfivesixseveneightnine")

123456789